:root {
  --color-background: #fff;
  --color-text: #000;
  --color-primary: #ff6f61;
}

html[data-theme='dark'] {
  --color-background: #121212;
  --color-text: #eee;
  --color-primary: #ff7f7f;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

header, footer {
  background-color: var(--color-primary);
  color: var(--color-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}
